<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <!-- header -->
    <h1 class="text-primary" style="text-align: center; font-weight: bold; padding-top: 0.25em;"> &#9876; &#x1f30e; &#x1F4A5; Worldstar! &#x1F4A5; &#x1f30e; &#9876;</h1>
    <h6 class="text-secondary" style="text-align: center; font-style: italic;">by nounGenerator</h3>
    <!-- body -->
    {% block logout %} {% endblock %}
    {% block body %} {% endblock %}
    <!-- footer -->
    <div class="p-3 mb-2 bg-primary text-white" style="text-align: center; bottom: 0; margin: 0; padding: 0; position: fixed; left: 0; width: 100%;">
      <span> nounGenerator — Derek Leung, Winston Peng, and Ahmed Sultan &copy 2019 </span>
    </div>
  </body>
</html>
