{% extends "base.html" %}

{% block body %}
<h2 class="text-dark" style="text-align: center; padding: 0;">Home</h2>
<div style="margin: 1em;" class="d-flex bd-highlight">
     {% for selection in array %}
          <div class="flex-fill" style="text-align: center; display: block; background-color: gainsboro; border-radius: 20px; margin: 0.5em; padding: 1em;">
               <img src="{{ selection[2] }}" style="width: 200px; height: 125px; align-content: center; margin-left: auto; margin-right: auto; display: block;">
               <h3 class="text-dark" style="text-align: center; font-weight: bold; padding: 1em;">{{selection[0]}}</h3>
               <a style="align-content: center; vertical-align: bottom;" class="btn btn-primary" href="/country/{{ selection[0] }}">Visit</a>
          </div>
     {% endfor %}
</div>
<div style="text-align: center;">
    <a style="align-content: center; vertical-align: bottom; text-align: center;" class="btn btn-primary" href="/leaderboards">Leaderboards</a>
</div>
{% endblock %}

{% block logout %}
<div style="text-align: center;">
     <br>
     <a>Logged in as: {{username}}</a>
</div>
<div style="text-align: center;">
     <a class="text-danger" href="/logout">[Click here to logout.]</a>
</div>
<br>
{% endblock %}

{% block title %}Worldstar | Home{% endblock %}
