{% extends "base.html" %}

{% block body %}
<div style="text-align: center;">
<h1 class="display-3">Leaderboard</h1>
<br>
<br>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Countries Owned</th>
    </tr>
  </thead>
  <tbody>
    {% for i in stuff %}
    <tr>
      <td><a class="text-primary" style="text-align: left; padding-left: 5vw;" href="/profile/{{i[0][0]}}"> {{i[0][0]}}</a></td>
      <td>{{i[1]}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
