{% extends "base.html" %}

{% block body %}
<a class="text-primary" style="text-align: left; padding-left: 5vw;" href="/home">&lt; back</a>
<br> <br>
<h2 class="text-dark" style="text-align: left; padding-left: 5vw; font-weight: bold;">{{ user }}</h2>
<br>
<p class="text-dark" style="text-align: left; padding-left: 5vw; font-weight: bold;">Countries owned: {{ lenArr }}</p>
<p class="text-dark" style="text-align: left; padding-left: 5vw;">
     {% for selection in carray %}
     {{ selection[0] }} <b>|</b>
     {% endfor %}
</p>
{% endblock %}

{% block logout %}
<div style="text-align: center;">
     <br>
     <a class="text-danger" href="/logout">[Click here to logout.]</a>
</div>
{% endblock %}

{% block title %}Worldstar | {{ user }}{% endblock %}